<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    @RenderSection("styles")
    <script type="text/javascript">
        const ROOT_URL = '@Url.Content("~/")';
    </script>
    <title>localization</title>
    @RenderSection("scripts")
</head>
<body>
    @RenderBody()
</body>
</html>