<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <variable name="filePrefix" value="app-"/>
  <variable name="logLayout" value="${pad:padding=-5:${uppercase:${level}}} ${longdate} [${processid}] [${threadid}] ${logger} ${message}
${onexception:${newline}}${exception:format=toString}"/>

  <variable name="logRoot" value="../../logs"/>

  <targets>
    <target xsi:type="Console" name="cons"
            layout="${logLayout}" />

    <target xsi:type="File" name="file"
            fileName="${logRoot}/${filePrefix}log.log"
            archiveEvery="Day"
            archiveFileName="${logRoot}/archive_{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveOldFileOnStartup="false"
            maxArchiveFiles="2"
            layout="${logLayout}" />

    <target xsi:type="File" name="warnFile"
            fileName="${logRoot}/${filePrefix}warn.log"
            archiveFileName="${logRoot}/archive-warn_{#}.log"
            archiveOldFileOnStartup="false"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence"
            maxArchiveFiles="5"
            layout="${logLayout}" />

    <target xsi:type="Debugger"
            name="debugger"
            layout="${logLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Debug" writeTo="cons" />

    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="warnFile" />
  </rules>
</nlog>
